[Unit]
Description=fenks

[Service]
Type=notify
User=deneb
WorkingDirectory=/srv/screee
ExecStart=/usr/bin/caddy file-server \
        --listen :3100 \
        --browse \
        --root ./content/ \
        --templates \
        --access-log

[Install]
WantedBy=multi-user.target
